* {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  accent-color: var(--secondary-color);
}

*::selection {
  background-color: var(--primary-color);
  color: var(--background-color-80);
}

:focus-visible, 
.focused {
  --primary-color: var(--secondary-color) !important;
  fill: var(--primary-color) !important;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

header {
  position: relative;
  height: var(--header-height);
  background-color: var(--background-color-80);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
  z-index: 1;
}
header .shadow {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

header menu {
  display: flex;
  gap: 1rem;
}

.main-container {
  height: calc(100vh - var(--header-height));
  display: flex;
}

aside {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom: none;
  flex: 0 0 var(--aside-left-width);
  background-color: var(--background-color-90);
  padding: 1rem;
  transition: flex-basis var(--toggling-duration) ease-out;
}
aside .shadow {
  position: absolute;
  top: 0;
  left: 100%;
  height: calc(100vh - var(--header-height));
  width: 5px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

aside:nth-of-type(2) {
  flex: 0 0 var(--aside-right-width);
}
aside:nth-of-type(2) .shadow {
  display: none;
}

aside menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main {
  flex: 1 1 auto;
  overflow: auto;
  scroll-behavior: smooth;
}

main section {
  min-height: calc(100vh - var(--header-height));
  padding: 1rem 1.5rem;
}

main section p {
  max-width: 1000px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: var(--foreground-color);
  fill: var(--foreground-color);
  cursor: pointer;
  overflow: hidden;
}
button:disabled {
  cursor: default;
}

svg {
  vertical-align: middle;
}

.hidden {
  display: none !important;
}

input, 
textarea {
  border: none;
  border-radius: 3px;
}

textarea {
  font-family: inherit;
  resize: none;
  height: auto;
  overflow: hidden;
}

fieldset {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid var(--border-color-light);
  display: inline-block;
}
fieldset legend {
  color: var(--primary-color);
  padding: 0 .5rem;
}

b {
  color: var(--primary-color);
}

form h2, 
form h3 {
  color: var(--primary-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (max-width: 800px) {
  aside {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    z-index: 5;
    max-height: calc(100vh - var(--header-height));
  }
  aside:nth-of-type(2) {
    top: initial;
    bottom: 0;
  }

  .toggled {
    display: none;
  }

  aside .shadow {
    display: none;
  }

  header menu {
    display: none;
  }
}

@media (min-width: 801px) {
  .toggled {
    flex-basis: 0px !important;
  }
  
  .toggled *, 
  .toggling * {
    display: none !important;
  }

  .toggled, 
  .toggling {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}