.dor-barchart {
  container-type: inline-size;
  container-name: barchart;

  --barchart-row-height: 22px;
}

.dor-barchart-grid {
  --grid-fractions: 1;
  gap: .5rem;
  display: grid;
  height: 500px;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto repeat(var(--grid-fractions), 1fr);
  overflow: hidden;
}

.dor-barchart-item {
  align-content: flex-end;
  position: relative;
  cursor: pointer;
}

.dor-barchart-item .dor-popup {
  right: initial;
  bottom: initial;
  left: calc(50% - .5rem);
  bottom: 0;
  margin: .5rem;
}

.dor-barchart-grid .display-big {
  display: unset !important;
}
.dor-barchart-grid .display-small {
  display: none !important;
}

.dor-barchart-item .dor-barchart-column {
  --column-size: 100%;
  max-width: 36px;
  margin: auto;
  background-color: var(--primary-color);
  height: var(--column-size);
}

.dor-barchart-item.selected .dor-barchart-column {
  background-color: var(--secondary-color);
}

.dor-barchart-y.dor-barchart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.dor-barchart-x.dor-barchart-info {
  align-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 120px;
}

@container barchart (max-width: 720px) {
  .dor-barchart-grid {
    height: auto;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto repeat(var(--grid-fractions), var(--barchart-row-height));
  }

  .dor-barchart-item .dor-barchart-column {
    height: var(--barchart-row-height);
    width: var(--column-size);
    max-width: 100%;
    margin: 0;
  }

  .dor-barchart-grid .display-big {
    display: none !important;
  }
  .dor-barchart-grid .display-small {
    display: unset !important;
  }

  .dor-barchart-y.dor-barchart-info {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .dor-barchart-x.dor-barchart-info {
    writing-mode: horizontal-tb;
    max-width: 120px;
  }

  .dor-barchart-item .dor-popup {
    left: 0;
  }
}