.input-text {
  min-height: 45px;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  color: var(--background-color-80);
}

.input-text.has-value label {
  transform: scale(.75) translateY(-10px);
}
.input-text.has-value span {
  transform: scale(.75) translateY(-10px);
}

.input-text span {
  top: 12px;
  right: 1rem;
  position: absolute;
  transition: transform .25s;
  transform-origin: right top;
  pointer-events: none;
}

.input-text label {
  position: absolute;
  left: .75rem;
  transition: transform .25s;
  transform-origin: left top;
  pointer-events: none;
}

.input-text:has(textarea) label {
  top: 12px;
}

.input-text input,
.input-text textarea {
  padding: 15px .75rem 0px;
  min-height: 45px;
  width: 100%;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--background-color-80);
}

.input-text textarea {
  padding-top: 22px;
  padding-bottom: 5px;
}

.input-text input::selection, 
.input-text textarea::selection {
  background-color: var(--background-color-80);
  color: var(--primary-color);
}