.dor-table {
  position: relative;
}

.dor-table-body {
  position: relative;
  background-color: var(--border-color);
}

.dor-table-menu {
  position: sticky;
  padding: .5rem 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.dor-table-navigation, 
.dor-table-navigation-pages {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  flex-wrap: wrap;
  gap: .5rem;
}

.dor-table-navigation-pages {
  justify-content: center;
  gap: .25rem;
}

.dor-table-navigation button {
  min-height: 24px;
  font-size: 16px;
}
.dor-table-navigation-pages button { 
  padding: 0 .5rem;
}
.dor-table-navigation button:disabled {
  fill: var(--border-color-light);
}
.dor-table-navigation button.selected,
.dor-table-navigation button:hover {
  color: var(--primary-color);
}

.dor-table-menu select {
  margin-left: auto;
}

.dor-table-columns {
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  left: 0;
}
.dor-table-columns .dor-table-cell {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.dor-table-columns, 
.dor-table-row {
  flex-wrap: wrap;
}

.dor-table-columns, 
.dor-table-rows, 
.dor-table-row {
  display: flex;
  gap: 1px;
}

.dor-table-row {
  border-bottom: 1px solid var(--primary-color);
}

.dor-table-rows {
  flex-direction: column;
}

.dor-table-cell {
  background-color: var(--background-color-80);
  min-width: 100px;
}
.dor-table-cell p {
  min-height: 24px;
  align-content: center;
}
/* 
  TODO : Leave alignment (?) 
*/
/* .dor-table-cell p.cell-right {
  text-align: end;
}
.dor-table-cell p.cell-center {
  text-align: center;
}
.dor-table-cell p.cell-left {
  text-align: left;
} */

.dor-table-column {
  position: relative;
  display: flex;
  background-color: var(--background-color-90);
  cursor: pointer;
  gap: .25rem;
}
.dor-table-column svg {
  fill: var(--background-color-90);
}
.dor-table-column p {
  margin-right: auto;
}
.dor-table-column .column-filter {
  padding: .25rem;
}
.dor-table-column .dor-popup {
  color: var(--foreground-color);
  top: 100%;
  bottom: initial;  
  left: 0;
  right: initial;
  min-width: calc(100% - 1rem);
  margin: .5rem;
}

.dor-table-cell {
  padding: .5rem .75rem;
  flex: 1 1 0px;
  fill: var(--primary-color);
}